<div class="container">
  <div class="row">
    <h2>All courses</h2>
  </div>

  <div *ngFor="let course of courses" class="row">
    <div class="row">
      <div class="spacer5 col-md-4" style="border-style:solid; border-width:1px">
        <label>{{course.name}}</label><br>
        <label>{{course.description}}</label>
      </div>
      <div class="spacer5 col-md-4" style="border-style:solid; border-width:1px">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary" value="Enroll" (click)="enroll()">
        </div>
      </div>
    </div>
  </div>

</div>