<div class="container">

  <div class="row">
        <h2>Assignments</h2>
      </div>

    <div *ngFor="let assignment of assignments" class="row">
        <div class="row">
          <div class="spacer5 col-md-4" style="border-style:solid; border-width:1px">
            <label>{{assignment.assignment_name}}</label><br>
            <label>Submitted by: Student name</label>
          </div>
          <div class="spacer5 col-md-4" style="border-style:solid; border-width:1px">
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" value="Evaluate Assignment" (click)="evaluateAssignment(assignment.assignment_name)">
              </div>
          </div>
        </div>
      </div>

</div>