
<div class="container">
<!--This is from professor's view-->
    <div class="row spacer5" *ngIf="role==professor">
        <div class="row spacer5">
            <h1>
                Welcome {{professor}}
            </h1>
        </div>

        <div class="row spacer5">
            <input type="button" class="btn btn-primary" value="All notes" (click)="viewAllNotes()">
        </div>

        <div class="row spacer5">
            <input type="button" class="btn btn-primary" value="Upload notes" (click)="uploadNotes()">
        </div>

        <div class="row spacer5">
            <input type="button" class="btn btn-primary" value="Upload assignment" (click)="uploadAssignment()">
        </div>
    </div>

    <div class="row spacer5" *ngIf="role==student">
        <!--This will be from student perspective-->
    </div>

</div>