<div class="container">
    <div class="row">
    <h1>
        Upload notes
      </h1>
    </div>

    <form ngNativeValidate (ngSubmit)="uploadNote()">
        <div class="row spacer5">
          <label class="col-md-2">Note name:</label>
          <input class="col-md-2" name="note_name" type="text" placeholder="Note name" [(ngModel)]="name" required />
        </div>
        <div class="row spacer5">
          <label class="col-md-2">Chapter name:</label>
          <input class="col-md-2" name="chapter_name" type="text" placeholder="Chapter name"
            [(ngModel)]="description" required />
        </div>
        <div class="row spacer5">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload notes</button>
        </div>
      </form>

</div>
