<div class="container">
  <div class="row spacer5">
  <h1>
    Welcome {{student}}
  </h1>
</div>

<div class="row spacer5">
    <input type="button" class="btn btn-primary" value="All courses" (click)="viewAllCourses()">
</div>

<div class="row spacer5">
    <input type="button" class="btn btn-primary" value="Enrolled courses" (click)="viewEnrolledCourses()">
</div>

<div class="row spacer5">
    <input type="button" class="btn btn-primary" value="Result" (click)="viewResults()">
</div>

</div>
